@model Payohtee.Models.Customer.Company

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayohteeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayohteeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAlias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAlias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTaxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyTaxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyIndustry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyIndustry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
